*{
    margin: 0;
    padding: 0;
  }
  body{
    font-family: sans-serif;
    background-color: #004643;
  }
  
  header{
    padding: 20px;
    color: #abd1c6;
  }
  nav{
    position: sticky;
    top: 0;
    z-index: 1;
  }
  main{
    height: 1200px;
    padding: 20px;
    background-color: #e8e4e6;
    margin: 10px;
    position: relative;
  }
  
  section{
    height: 120px;
    width: 180px;
    background-color: white;
    padding: 20px;
    margin: 10px 0;
  }
  .absoluto-inferior-direito{
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid black;
    background-color: aqua;
    margin-right: 10px;
    
    
  }
  .fixo-centralizado{
    position: static;
    text-align: center;
    border: 2px solid black;
    background-color: aqua;
    
  }
  .ficar-verde{
    border: 2px solid black;
    background-color: aqua;
  }

  .ficar-verde:active{
    color: green;
    border: 2px solid green;
    background-color: #ddebeb;
    
    
  }
  nav{
    padding: 20px;
    background-color: white;
  }
  
  footer{
    background-color: #abd1c6;
    padding: 20px;
    text-align: center;
  }
  .amarelo:hover{
    background-color: yellow;
  }
  .borda-footer{
    border: 2px solid black;
    bor
  }